<div class="form-group <%= @category.errors[:name].count > 0 ? "has-error" : "" %>">
  <label class="control-label" for="category[name]">Name</label>
  <input type="text" class="form-control" name="category[name]" value="<%= @category.name %>">
  <span class="text-danger"><%= @category.errors.full_messages_for(:name).join('. ') %></span>
</div>
